@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,400;0,700;1,300&family=Monoton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Bellota Text", cursive;
  font-weight: 400;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  overflow-x: hidden;
}

.section-heading {
  color: #999;
  font-size: 8rem;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.6;
}

/* Section 1 */
.section-1 {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  position: relative;
}
.floating-bg {
  width: 120vw;
  height: 110vw;
  background-color: rgb(50, 231, 255, 0.8);
  position: absolute;
  top: -90vw;
  left: calc(50% - 60vw);
  animation: rotate 20s infinite ease;
  border-radius: 45%;
}
.floating-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(50, 231, 255, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  animation: rotate 20s infinite alternate;
  border-radius: 40%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  z-index: 20;
  top: 4rem;
  position: relative;
}
.navbar-link {
  font-size: 2.2rem;
  color: #fff;
  font-weight: 700;
  word-wrap: break-word;
  width: 1rem;
  text-align: center;
  transition: all 0.5s;
}
.navbar-link:hover {
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 2.5s;
}
.section-1-heading {
  font-size: 8rem;
  font-family: "Monoton", cursive;
  position: absolute;
  top: 20vw;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0.3rem 0.3rem 0.3rem #888;
  background-color: #fff;
  color: white;
  width: 85rem;
  text-align: center;
  opacity: 0.9;
  border-radius: 0.8rem;
  padding: 0.8rem 1.6rem;
}
.logo {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.logo i {
  font-size: 15rem;
  color: rgba(50, 231, 235, 0.8);
  text-shadow: 0.1rem 0.1rem 0.2rem #ddd, -0.1rem -0.1rem 0.2rem #ddd;
}
/* End of Section 1 */

/* Section 2 */
.section-2 {
  background-color: #fffeee;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.customers-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}
.customer {
  width: 35rem;
  height: 40rem;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 3rem #ddd, -0.1rem -0.1rem 3rem #eee;
  transition: box-shadow 0.5s;
}
.customer:hover {
  box-shadow: 2rem 2rem 3rem #ddd, -2rem -2rem 3rem #eee;
}
.customer:first-child {
  align-self: flex-end;
}
.customer:last-child {
  align-self: flex-start;
}
.fa-quote-left {
  font-size: 4rem;
  color: #f08e0f;
}
.customer-text {
  font-size: 1.4rem;
  margin: 2.5rem 0;
  text-align: justify;
}
.customer-text::first-letter {
  margin-left: 1rem;
}
.customer-rating i {
  font-size: 2rem;
  color: #f08e0f;
}
.customer-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem 0;
}
.customer {
  font-size: 2rem;
  font-weight: 700;
}
/* End of Section 2 */

/* Section 3 */
.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

.teams-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}

.team-member {
  width: 35rem;
  background-color: #fffeee;
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
  position: relative;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.team-member:hover {
  opacity: 1;
}
.team-member:first-child {
  align-self: flex-start;
}
.team-member:last-child {
  align-self: flex-end;
}
.team-member-name {
  font-size: 2.3rem;
  color: #796717;
  font-weight: 700;
  margin-top: 2rem;
}
.team-member-name span {
  font-size: 1.7rem;
}

.team-member-img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.team-member-skills {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 2rem 0;
}
.team-member-skills li {
  font-size: 1.5rem;
  color: #505050;
}
.projects-btn {
  background-color: #fab34a;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}
.story {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fdaa3d;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  transform: scale(0);
  transition: all 0.5s;
  transform-origin: top right;
  border-radius: 50rem 0 50rem 50rem;
}
.story.change {
  transform: scale(1);
  border-radius: 0;
}
.story-heading {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2rem;
}
.story-text {
  font-size: 1.8rem;
  text-indent: 2rem;
  text-align: justify;
  letter-spacing: 0.1rem;
}
.story-btn {
  background-color: #222;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
  transition: transform 0.5s;
}
.story-btn.change {
  transform: rotate(405deg);
}
.story-btn-line {
  width: 100%;
  height: 0.1rem;
  background-color: #fff;
}
/* End of Section 3 */

/* Section 4 */
.section-4 {
  width: 100%;
  min-height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form-container {
  width: 80%;
  height: 40%;
  background-color: #e5e9ff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0.3rem 0.3rem 0.4rem #ccc, -0.1rem -0.1rem 0.4rem #ccc;
  perspective: 100rem;
}

.form-img {
  width: 50rem;
  color: white;
  object-fit: cover;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transform: rotateY(20deg);
  background-color: rgba(50, 231, 235, 0.8);
  transition: all 0.5s;
  box-shadow: -0.5rem -0.5rem 2rem #ccc;
}
.form-img:hover {
  transform: translateY(-2rem) rotateY(20deg);
  box-shadow: -1rem -1rem 2rem #ccc;
}
.contact-form {
  width: 45rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 3rem 3rem 4rem #aaa;
  transform: rotateY(-20deg);
  transition: all 0.5s;
}
.contact-form:hover {
  transform: rotateY(-20deg) translateY(-2rem);
  box-shadow: 4rem 4rem 5rem #aaa;
}

.contact-form input,
.contact-form textarea {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 2rem;
  box-shadow: inset 0.1rem 0.1rem 0.2rem #ddd, inset -0.1rem -0.1rem 0.2rem #ddd;
}

.contact-form textarea {
  max-height: 25rem;
  min-height: 10rem;
  max-width: 100%;
  min-width: 70%;
}

.contact-form input[type="submit"] {
  background-color: rgba(50, 231, 235, 0.8);
  color: #fff;
  letter-spacing: 0.2rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact-form input[type="submit"]:hover {
  background-color: rgba(50, 235, 143, 0.8);
}
.copyright {
  font-size: 2rem;
  color: #796717;
  letter-spacing: 0.2rem;
  margin-top: 5rem;
}
/* End of Section 4 */

.scroll-up-btn {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  width: 5rem;
  height: 5rem;
  background-color: rgba(50, 231, 235, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.scroll-up-btn i {
  color: #fff;
  font-size: 1.5rem;
}
.scroll-up-btn:hover {
  background-color: rgba(50, 235, 143, 0.8);
}

/* media query */
@media (max-width: 1450px) {
  html {
    font-size: 50%;
  }
  .section-1 {
    min-height: 80vh;
  }
  .section-1-heading {
    font-size: 6rem;
    top: 25vw;
  }
  .logo {
    top: 40vw;
  }
  .section-2,
  .section-3,
  .section-4 {
    min-height: auto;
  }
  .customers-wrapper,
  .teams-wrapper {
    flex-wrap: wrap;
  }
  .customer,
  .team-member {
    margin: 5rem;
    height: auto;
  }
  .section-heading {
    font-size: 6rem;
    margin: 2rem 0;
  }
  .form-img {
    display: none;
  }
  .contact-form {
    transform: rotateY(0deg);
  }
  .contact-form:hover {
    transform: translateY(-1rem) rotateY(0deg);
  }
  .copyright {
    margin: 3rem 0;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 90%;
  }
  .floating-bg {
    top: -60vw;
  }
  .section-1-heading {
    top: 50vw;
  }
  .logo {
    top: 65vw;
  }
  .navbar-link {
    font-size: 1.5rem;
  }
  .section-1-heading {
    font-size: 3rem;
  }
  .logo i {
    font-size: 5rem;
  }
  .section-heading {
    font-size: 3rem;
    margin: 5rem 0;
  }
}
